src/CloudFoundry.Configuration/CloudFoundrySectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:CloudFoundry.Configuration" elementFormDefault="qualified" targetNamespace="urn:CloudFoundry.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cloudfoundry" type="tns:CloudFoundry.Configuration.CloudFoundrySectionCT" />
	<xs:complexType name="CloudFoundry.Configuration.CloudFoundrySectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="dea" type="tns:CloudFoundry.Configuration.DEAElementCT">
				<xs:annotation>
					<xs:documentation>The DEA.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CloudFoundry.Configuration.DEAElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="stacks" type="tns:CloudFoundry.Configuration.StackCollectionCT">
				<xs:annotation>
					<xs:documentation>The Stacks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="directoryServer" type="tns:CloudFoundry.Configuration.DirectoryServerElementCT">
				<xs:annotation>
					<xs:documentation>The DirectoryServer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="staging" type="tns:CloudFoundry.Configuration.StagingElementCT">
				<xs:annotation>
					<xs:documentation>The Staging.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="baseDir" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BaseDir.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localRoute" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LocalRoute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="filerPort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The FilerPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="statusPort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The StatusPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="heartbeatIntervalMs" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The HeartbeatIntervalMs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="messageBus" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MessageBus.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="multiTenant" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Multitenant.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxMemoryMB" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxMemoryMB.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="secure" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Secure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enforceUlimit" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnforceUsageLimit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="disableDirCleanup" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The DisableDirCleanup.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="useDiskQuota" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UseDiskQuota.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxConcurrentStarts" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxConcurrentStarts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="index" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Index.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="advertiseIntervalMs" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The AdvertiseIntervalMs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="domain" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Domain.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uploadThrottleBitsps" use="optional" type="xs:long">
			<xs:annotation>
				<xs:documentation>The network outbound throttle limit to be enforced for the running apps. Units are in Bits Per Second.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="logyardUidPath" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LogyardUidPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CloudFoundry.Configuration.StackCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="stack" type="tns:CloudFoundry.Configuration.StackElementCT">
				<xs:annotation>
					<xs:documentation>The StackElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CloudFoundry.Configuration.StackElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CloudFoundry.Configuration.SupportedVersionsCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="supportedVersion" type="tns:CloudFoundry.Configuration.SupportedVersionElementCT">
				<xs:annotation>
					<xs:documentation>The SupportedVersionElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="defaultVersion" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DefaultVersion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CloudFoundry.Configuration.SupportedVersionElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CloudFoundry.Configuration.DirectoryServerElementCT">
		<xs:attribute name="fileApiPort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The FileApiPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="v1Port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The V1Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="v2Port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The V2Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="streamingTimeoutMS" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The StreamingTimeoutMS.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="logger" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Logger.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CloudFoundry.Configuration.StagingElementCT">
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="buildpacksDirectory" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BuildpacksDirectory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="stagingTimeoutMs" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The StagingTimeoutMs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="gitExecutable" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The GitExecutable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
